# set this to your UID (run `id -u` to get it)

UID=

# adding explicitly here is better than using *

DJANGO_ALLOWED_HOSTS=127.0.0.1 localhost

# make up a password; it doesn't need to be secure

DJANGO_DB_NAME=orchard_dev
DJANGO_DB_USER=orchard_dev
DJANGO_DB_PASSWORD=

# use django.core.management.utils.get_random_secret_key()

DJANGO_SECRET_KEY=

# use a sandbox mailgun account

DJANGO_DEFAULT_EMAIL_ADDRESS=
MAILGUN_DOMAIN=
MAILGUN_API_KEY=
