# fill in your prod host

DJANGO_ALLOWED_HOSTS=orchard.cool

# ideally, set up some secrets management for the password

DJANGO_DB_HOST=
DJANGO_DB_PORT=5432
DJANGO_DB_NAME=orchard_prod
DJANGO_DB_USER=orchard_prod
DJANGO_DB_PASSWORD=

# use django.core.management.utils.get_random_secret_key()

DJANGO_SECRET_KEY=

# use a real mailgun account

DJANGO_DEFAULT_EMAIL_ADDRESS=team@orchard.cool
MAILGUN_DOMAIN=
MAILGUN_API_KEY=
